*{
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
    display: grid;
    align-items: center;
}

.form{
    position: relative;
    border-radius: 5px;
    background-color: #333333;
    padding: 20px;
    margin-top: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
input,select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    color: #f9f9f9;
}
select option {
    background: #000;
    color: #fff;
}
/*
select option:hover{
    background-color: #fff2;
    cursor: pointer;
}*/
label{
    width: 19%;
    font-size: 1rem;
    display: inline-block;
}
.btn-submit {
    width: 100%;
    background-color: #4c84af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-submit:hover {
    background-color: #61b4e1;
}

.input-error {
    border: 1px solid;
    margin: 8px 0;
    margin-left: 20%;
    padding: 15px 10px 15px 45px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 4px;
    color:#D63301;
    background-color: #ffccba;
    background-image: url('https://i.imgur.com/GnyDvKN.png');   
}

@media screen and (max-width: 800px) {
    input, select, label {
        display: block;
        width: 100%;
        margin-left: 0;
    }
    .form {
        width: 100%;
        min-width: 200px;
        margin-left: 0;
        margin-right: 0;
    }
    .input-error{
        margin-left: 0;
    }
    
}