body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
    margin: 0;
    overflow: hidden;
}
button {
    width: 80%;
    border-radius: 12px;
    cursor: pointer;
}
body > div {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.inputs-container {
    padding: 32px 0;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
}
.inputs-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.code-container {
    width: 80%;
    height: 50%;
}
